.image-hover {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 0;
}
.image-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #131313; /* Or COLORS.dark if that works in CSS files in your setup */
  z-index: -1;
  /*transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);*/
  transform: scale(1.02) translate(3px, 3px);
}
.image-hover:hover {
  transform: translate(-3px, -3px) scale(1);
}
.image-hover:hover::after {
  transform: translate(0px, 0px);
}
