/* For Firefox */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #ff3420 transparent;
}

/* For Webkit browsers like Chrome/Safari */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #ff3420;
  border-radius: 0px;
}

.image-hover {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 0;
}

.image-hover:hover img {
  /* Target the image inside .image-hover on hover */
  transform: translate(-6px, -6px) scale(1); /* Move only the image */
} /* Move only the image */

.image-hover::before {
  /* Coral box behind image */
  content: "";
  position: absolute;
  width: 100%; /* Same width as image */
  height: 100%; /* Same height as image */
  z-index: -1; /* Behind image */
}

.image-hover:hover::before {
  /* Coral color on hover */
  background-color: #ff685b;
}

.modal-overlay {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='24' viewBox='0 0 100 24'><rect width='100' height='24' rx='2' fill='%23ff685b'/><text x='50%' y='50%' fill='%23f5f5dc' font-family='Arial' font-size='12' text-anchor='middle' dominant-baseline='middle'>back to %city%</text></svg>")
      50 12,
    auto;
}
