#root {
  width: 100%;
  min-height: 100vh;
}

.relative {
  position: relative;
}

.inline-flex {
  display: inline-flex;
}

button {
  z-index: 70;
  contain: layout style;
}

@media (hover: none) {
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }
}
